:root {
    --section-header-table-thead-height: 2em;
    --symbols-table-thead-height: 2em;
}

#section-headers-header-row {
    height: var( --section-header-table-thead-height );
    background-color: #eee;
}

td {
    vertical-align: top;
}

.section_header_anchor {
    display: block;
    position: relative;
    top: calc( var( --section-header-table-thead-height ) * -1 );
    visibility: hidden;
}

#symbols-header-row {
    height: var( --symbols-table-thead-height );
    background-color: #eee;
}


.popup {
    position: absolute;
    width: 300px;
    top: 0%;
    left: 50%;
    transform: translate(-50%, calc( -100% - 10px ) );
    background-color: #eeeeee;
    border: 1px solid black;
    padding: 5px;
}

.popup-close-button {
    font-weight: bold;
    background-color: #dddddd;
}

.popup-tip {
    border: 10px solid transparent;
    width: 0px;
    border-top-color: black;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate( -50%, 0% );
}
